<%- include('../partials/_header') %>

    <main>
        <form action="/campgrounds/<%= camp._id %>?_method=PATCH" method="POST">
            <div>
                <input type="text" name="campground[title]" placeholder="title" value="<%= camp.title %>">
            </div>
            <div>
                <input type="text" name="campground[location]" placeholder="location" value="<%= camp.location %>">
            </div>
            <button type="submit">Update Campground</button>
        </form>
        <a href="/campgrounds/<%= camp._id %>">Cancel</a>
    </main>

<%- include('../partials/_footer') %>