<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= camp.title %> </title>
</head>
<body>
    <h1><%= camp.title %></h1>
    <p><%= camp.location %></p>
    <p>
        <a href="/campgrounds/<%= camp._id %>/edit">Edit Camp</a>
    </p>
    <form action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Camp</button>
    </form>
    <footer>
        <a href="/campgrounds">All Camps</a>
    </footer>
</body>
</html>