<%- include('../partials/_header') %>

    <main class="container">
        <h1><%= camp.title %></h1>
        <p><%= camp.location %></p>
        <p>
            <a href="/campgrounds/<%= camp._id %>/edit">Edit Camp</a>
        </p>
        <form action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete Camp</button>
        </form>
        <a href="/campgrounds">All Camps</a>
    </main>

<%- include('../partials/_footer') %>