<%- include('../partials/_header') %>

<main class="container">
    <div class="row">
        <h1 class="text-center mb-4">Reset Password</h1>
        <div class="col-md-6 mx-auto">
            <%- include('../partials/_flash') %>
            <p class="text-muted mb-4">Enter the email address associated with your account, and we’ll email you a link to reset your password.</p>
            <% if (!user) { %>
                <form class="needs-validation mb-4" action="/forgot" method="POST" novalidate>
                    <div class="mb-2">
                        <input class="form-control" type="email" name="email" placeholder="Email" autofocus required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Email is required</div>
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-outline-info" type="submit">Send Email</button>
                    </div>
                </form>
                <p class="my-0">Don't have an account? <a class="link-success" href="/register">Join now</a></p>
            <% } else { %>
                <div class="alert alert-warning" role="alert">
                    You are currently logged in as <strong><%= user.email %></strong>
                </div>
                <div class="d-grid gap-2">
                    <a href="/logout" class="btn btn-outline-info">Logout</a>
                </div>
            <% } %>
        </div>
    </div>

</main>

<%- include('../partials/_footer') %>
<%- include('../partials/_closing') %>